/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
        width: 1000px;
}

header {
        nav[role=navigation] {
                clear: none;
                float: right;

        }

        .social-menu {
                margin-right: 150px;
        }

        .nav.top-nav {
                margin-right: -1em;

               & > li.menu-item-object-downloads, & > li.nav.top-nav li.menu-item-object-downloads {
                        position: absolute;
                        margin-top: 0;
                        top: 10px;
                        right: 0;
                }
        }
}