/******************************************************************
Site Name: Tognox
Author: Jenny Sharps

Stylesheet: Only Smaller Devices

******************************************************************/
.wrap {
        padding: 10px;
}


.header {

        .toggle-menu-mobile {
                display: block;

                &.toggle-menu-open {
                        position: absolute;
                        z-index: 998;
                        padding: .25em .5em .2em;
                        width: 35px;
                        height: 35px;
                        top: 17px;
                        right: 15px;
                        margin: 0;
                        color: @white;
                        border: 1px solid darken(@bones-pink, 13%);
                        border-top-color: darken(@bones-pink, 20%);
                        border-left-color: darken(@bones-pink, 20%);
                        .css-gradient(darken(@bones-pink, 10%),darken(@bones-pink, 20%));
                        border-radius: 4px;
                        font-weight: bold;

                        span {
                                text-align: center;
                                display: inline-block;
                                -webkit-transform: rotate(90deg);
                                -moz-transform: rotate(90deg);
                                -o-transform: rotate(90deg);
                                -ms-transform: rotate(90deg);
                                transform: rotate(90deg);
                        }
                }

                &:hover {
                        cursor: pointer;
                }

                &.toggle-menu-close {
                        text-align: center;
                        color: @white;
                        background: @black;
                }

                &:hover a, a:visited:hover, a:focus, a:visited:focus {
                        color: #000;
                }

        }


        #site-info {
                margin: 2.75em auto 0;
                float: none;

                .site-info-logo {
                        max-width: 18%;
                        padding-left: 5px;
                }

                .site-info-text {
                        a h1 {
                                font-size: 2em;
                        }

                        .site-description {
                                font-size: 1em;
                        }
                }
        }

        .social-menu {
                float: none;
                clear: both;
                text-align: center;
                padding: 0;

                li {
                        margin: .5em 1em 0;
                }
        }


        nav {
                margin: 0 auto;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999;
                border-top: 10px solid @bones-pink;
                display: block;

                .nav.top-nav, .toggle-menu-close {
                        display: none;
                }

                &.open > .nav.top-nav, &.open > .toggle-menu-close {
                        display: block;
                }

                .nav.top-nav {
                        margin-top: -10px;

                        ul {
                                margin: 0;
                        }

                        a {
                                letter-spacing: .1em;
                                padding: .75em 1em .5em;
                                font-size: 1.1em;
                                font-weight: 400;
                                text-transform: uppercase;
                                .transition();
                                .css-gradient(@bones-pink,darken(@bones-pink, 5%));
                                color: @white;

                                &:hover, &:visited:hover, &:focus, &:visited:focus {
                                        color: @black;
                                }

                        }

                        & > li.menu-item-object-downloads, & > li.nav.top-nav li.menu-item-object-downloads,
                        & > .li.menu-item-194 {
                                margin-top: 0;
                        }
                }

                &.expanded li {
                        height: auto;
                }
        }
}